body {
    background-color: #fff;
    font-family: "Helvetica","Arial",sans-serif;
    font-size: 14px;
    color: #333;
}

th {
    font-size: 12px;
}

a {
    color: #333;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 4px;
}

th.domain {
}

tr.archive td {
    color: #aaa;
}

.badge {
    display: inline-block;
    margin: 2px;
    padding: 1px 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.active .badge {
    color: #fff;
    background-color: #aaaaaa;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    grid-column-start: 1;
}

dd {
    grid-column-start: 2;
}